NUXT_KINDE_CLIENT_ID=[CLIENT ID HERE]
NUXT_KINDE_CLIENT_SECRET=[CLIENT SECRET HERE]
NUXT_KINDE_AUTH_DOMAIN=https://[YOUR KINDE DOMAIN].kinde.com
NUXT_KINDE_REDIRECT_URL=http://localhost:3000/api/callback
NUXT_KINDE_LOGOUT_REDIRECT_URL=http://localhost:3000
NUXT_KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard
NUXT_DATABASE_URL=[NEON POSTGRES DATABASE URL HERE]